<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express dev skills</title>
</head>
</html>
<div class="container text-center">
<body>
  <h1>In Progress Coding Skills</h1>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <%= s.skills %>
        - 
      <%= s.progress ? 'yes' : 'not yet' %>
    </li>
  <% }); %>
</ul>
</body>
</div>
</html>